*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div{
    border: 2px solid red;
    padding: 2px;
    margin: 2px;
}

ul{
    margin: 0;
    padding: 8px;
}

ul li{
    list-style: none;
}

.main-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #1f2937;
}

.main-title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}


.add-container{
    padding: 16px;
}

.task-container{
    padding: 16px;
    background-color: white;
}